<div class="container">
    <div class="row">
      <h1 mat-dialog-title>Elimina Utente</h1>
    </div>
    <div class="row">
      <table class="table m-0">
        <thead class="">
          <tr>
            <th>
              Nome Utente
            </th>
            <th>
              Banca
            </th>
            <th>
              Bloccato
            </th>
          </tr>
        </thead>
        <tbody>
          <td class="p-2 align-middle">{{data.nomeUtente}}</td>
          <td class="p-2 align-middle">{{data.banca}}</td>
          <td class="p-2 align-middle">{{data.bloccato ? "Bloccato" : "Non Bloccato"}}</td>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div mat-dialog-actions align="end">
        <button mat-button [mat-dialog-close]="undefined" class="btn btn-light me-3">Annulla</button>
        <button mat-button cdkFocusInitial (click)="delete()" class="btn btn-primary">Conferma</button>
      </div>
    </div>
  </div>